@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: white;
}
nav {
  display: flex;
  flex-direction: row;
  /* background-color: lightgray; */
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
nav p {
  font-weight: bold;
}
nav #sign-in {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 4px 25px;
  border: 3px solid #0b1133;
}
nav #sign-in:hover {
  background-color: #0b1133;
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.categories {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories ul {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: auto;
  list-style: none;
  overflow-x: auto;
  height: 62px;
  align-items: center;
}
.categories ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(63, 57, 57);
  margin: 0 22px;
  padding-bottom: 16px;
}
.categories ul li .active {
  border-bottom: 4.5px solid rgb(212, 15, 15);
  color: rgb(173, 32, 32);
}
.categories ul li a:hover {
  border-bottom: 4.5px solid rgb(212, 15, 15);
}

/* ggg */
.container {
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}
.container img {
  width: 100%;
  height: 450px;
}
.container h2 {
  font-size: 30px;
  color: #1e2b74;
  margin: 4px;
}
.container .desc {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
}
.container .cat {
  font-size: 24px;
  padding: 10px 0 10px 0;
  text-decoration: 4px underline #0b1133;
}

/* responsive */
@media screen and (max-width: 600px) {
  .container {
    width: 85%;
  }
  .container img {
    height: 350px;
  }
}
@media screen and (max-width: 413px) {
  nav img {
    width: 100px;
  }
  .container {
    width: 90%;
  }
  .container img {
    height: 300px;
  }
}
@media screen and (max-width: 310px) {
  nav img {
    width: 85px;
  }
  nav #sign-in {
    padding: 3px 12px;
    font-size: 14px;
  }
  nav p {
    font-size: 14px;
  }
}
